body {
    background-image: url("./images/pngtree-cartoon-landscape-with-colorful-spring-flowers-picture-image_3480571.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}
.overlay-image {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    background-image: url(images/images-removebg-preview.png);
    background-size: cover;
}
.container {
     position: relative;
     text-align: center;
}
.sun {
    position: relative;
    top: 10%;
    left: 630%;
    width: 100%;
    height: 100%;
    background-image: url(images/sun.png);
    background-size: cover;
    animation: dura 5s;
}
@keyframes dura { 
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: 1;
    }
}
.number2 {
    position: relative;
    top: 200%;
    left: 250%;
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: numb 4s;
    opacity: 0  ;
}
@keyframes numb { 
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: 0;
    }
}
.number3 {
    position: relative;
    top: 200%;
    left: 150%;
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: numbe 4s;
    opacity: 0;
    animation-delay: 3s;
}
@keyframes numbe { 
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: 0;
    }
}
.number4 {
    position: relative;
    top: 200%;
    left: 40%;
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: number 4s;
    opacity: 0;
    animation-delay: 6s;
}
@keyframes number { 
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: 0;
    }
}


