body {
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
}
.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
    padding: 20px;
    height: 200vh;
    width: 100%;
    background: #0f2235;
    position: relative;
}
.overlay {
    position: absolute;
    top:100px;
    left:500px;
    width: 55vw;
    height: 200vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.cuadro {
    background-color: black;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.video-box {
    padding-bottom: 49%;
    position: relative;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
}
.video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px; 
}
.video-box:nth-child(1) {
    z-index: 2;
    top:17%;
    left: 160%;
}
.video-box:nth-child(2) {
    z-index: 1;
    top:19%;
    left: 165%;
}
.image-box img {
    position: relative;
    width: 120%; 
    height: 35%; 
    top: 6%;
    left: 115%;
    border-radius: 10px; 
}
/* Estilos para el último video */
#video-65e7e5f5452ab {
    padding-bottom: 89%;
    position: relative;
    width: 50vw;
    height: 4vh;
    top: 56%;
    left: 10%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
}

#video-65e7e5f5452ab iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-box-2 {
    position: absolute;
    margin-top: 1400px; 
    left: 5%;
    text-align: center; 
    z-index: 3;
}

.image-box-2 img {
    width: 35%; 
    height: auto; 
    border-radius: 10px; 
}
.image-box-3 {
    position: absolute;
    margin-top: 1400px; 
    left: 30%;
    text-align: center; 
    z-index: 4;
}

.image-box-3 img {
    width: 30%; 
    height: auto; 
    border-radius: 10px; 
}